@page "/edit"

<PageTitle>Редактирование данных - Лаборатория</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-2">
            <nav class="flex-column">
                <_EditLeftSidebarPartial />
            </nav>
        </div>
        <div class="col-md-9 mb-2">
            <div class="border-1 bg-light shadow rounded-1 p-2">
                <h1 class="my-2 p-2">Редактирование данных исследований</h1>

                <p>Раздел редактирования данных - результататов лабораторных исследований и прочих данных.</p>


            </div>
        </div>
    </div>
</div>

@code {

}
