@model BlockLab.Controllers.AccountController.PasswordWebModel
@{
    ViewBag.Title = "Смена пароля";
}

<div class="row">
    <div class="col-md-4 col-lg-3 mb-1">
        <partial name="Partial/_AccountLeftSidebarPartial" />
    </div>
    <div class="col-md-8 col-lg-9 mb-1">
        <div class="border-1 bg-light shadow rounded-1 p-2">
            <h1>@ViewBag.Title</h1>

            <div class="col-lg-6">
                <form asp-controller="Account" asp-action="Password" asp-antiforgery="true">
                    <div asp-validation-summary="ModelOnly" class="text-danger alert-danger"></div>

                    <div class="my-1">
                        <label asp-for="OldPassword" class="form-label"></label>
                        <input asp-for="OldPassword" class="form-control" placeholder="Введите текущий пароль пользователя" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                    <div class="my-1">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Введите новый пароль пользователя" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="my-1">
                        <label asp-for="PasswordConfirm" class="form-label"></label>
                        <input asp-for="PasswordConfirm" class="form-control" placeholder="Введите подтверждение нового пароля" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary my-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Подтверждение изменение своего пароля пользователя в системе">
                        Изменить пароль
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="Partial/_ValidationScriptsPartial" />
}