<div class="mt-4 p-3 mb-4 bg-info text-dark rounded shadow">
    <h1 class="display-2 mb-5 text-center"><strong>Лабораторное приложение</strong></h1>
    <h4>Прототип приложения для лаборатории.</h4>
    <hr>
    <p>Прототип приложения для лаборатории, которая работает с лабораторными данными по строительным газобетонным блокам.</p>
</div>
