<div class="mt-4 p-5 mb-4 bg-info text-dark rounded">
    <h1 class="display-2 mb-5"><strong>Лабораторное приложение</strong></h1>
    <p class="lead">Прототип приложения для лаборатории.</p>
    <hr>
    <p>Прототип приложения для лаборатории, которая работает с лабораторными данными по строительным газобетонным блокам.</p>
</div>
