@{
    ViewBag.Title = "Главная";
}

<div class="container">

    <partial name="Partial/SliderPartial" />

    <div class="row">
        <div class="col-sm-3 mb-2">
            <partial name="Partial/_LeftSidebarPartial" />
        </div>
        <div class="col-sm-9 mb-2">
            <div class="border-1 bg-light shadow rounded-1 p-2">
                <h1>@ViewBag.Title</h1>

                <p>Главная страница лабораторного приложения.</p>

            </div>
        </div>
    </div>
</div>
