<div class="left-sidebar">
    <h4 class="text-center bg-info p-2 rounded shadow">Управление профилем</h4>
    <div class="accordion accordion-flush" id="accordionInfo">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item bg-light p-1">
                <a asp-controller="Account" asp-action="Index" class="nav-link text-dark">
                    Информация по профилю
                </a>
            </li>
            <li class="nav-item bg-light p-1">
                <a asp-controller="Account" asp-action="Edit" class="nav-link text-dark">
                    Редактирование профиля
                </a>
            </li>
            <li class="nav-item bg-light p-1">
                <a asp-controller="Account" asp-action="Password" class="nav-link text-dark">
                    Смена пароля
                </a>
            </li>
        </ul>
    </div>
</div>

