<footer class="border-top footer text-dark bg-info">
    <div class="container-md">
        &copy; 2022 - kanadeiar <a class="text-dark" href="https://github.com/kanadeiar/ExamTickets">github</a>
    </div>
</footer>
