<header class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-info border-bottom mb-4">
        <div class="container-md">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/favicon.png" alt="Бренд" width="30" height="30" class="d-inline-block align-text-top">
                Лаборатория
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <partial name="Partial/_MainMenuPartial" />

                <div class="d-flex">
                    <a class="btn btn-success me-1" href="/online" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ввод и редактирование результатов лабораторных анализов">
                        Управление результатами
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>


