<div class="left-sidebar">
    <h4 class="text-center bg-info p-2 rounded shadow">Результаты</h4>
    <div class="accordion accordion-flush shadow" id="resultsInfo">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item bg-light p-1">
                <a asp-controller="Research" asp-action="Index" class="nav-link text-dark">
                    Все результаты
                </a>
            </li>
            <div class="accordion-item">
                <h2 class="accordion-header" id="showMainResults">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#mainResults" aria-expanded="false" aria-controls="mainResults">
                        Категории результатов
                    </button>
                </h2>
                <div id="mainResults" class="accordion-collapse collapse" aria-labelledby="showMainResults"
                     data-bs-parent="#resultsInfo">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li>
                                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark fw-light px-0">
                                    Первая категория результатов
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark fw-light px-0">
                                    Вторая категория результатов
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="showMainNormals">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#normalsShow" aria-expanded="false" aria-controls="normalsShow">
                        Успешность результатов
                    </button>
                </h2>
                <div id="normalsShow" class="accordion-collapse collapse" aria-labelledby="showMainNormals"
                     data-bs-parent="#resultsInfo">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li>
                                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark fw-light px-0">
                                    Нормальный результат
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark fw-light px-0">
                                    Плохой результат
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="showObjects">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#objectsShow" aria-expanded="false" aria-controls="objectsShow">
                        Объекты исследований
                    </button>
                </h2>
                <div id="objectsShow" class="accordion-collapse collapse" aria-labelledby="showObjects"
                     data-bs-parent="#resultsInfo">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li>
                                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark fw-light px-0">
                                    Первый объект
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Index" class="nav-link text-dark fw-light px-0">
                                    Второй объект
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
