<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownInfo" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            Результаты
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
            <li>
                <a asp-controller="Home" asp-action="Index" class="dropdown-item">Все результаты</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Index" class="dropdown-item">Первая категория результатов</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Index" class="dropdown-item">Вторая категория результатов</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Home" asp-action="About">О приложении</a>
    </li>
</ul>