<div class="pull-right d-grid gap-1 d-md-inline-block">
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Регистрация нового пользователя в системе">
        <i class="fas fa-address-book"></i> Регистрация
    </a>
    <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Вход в систему">
        <i class="fa fa-lock"></i> Вход
    </a>
</div>
