<div class="pull-right d-grid gap-1 d-md-inline-block">
    <a class="btn btn-success" href="/online" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ввод и редактирование результатов лабораторных анализов">
        Управление результатами
    </a>
    <a asp-controller="Account" asp-action="Index" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Раздел управления профилем пользователя системы">
        <i class="fa fa-user"></i> @User.Identity?.Name
    </a>
    <a asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Выход из системы">
        <i class="fa fa-unlock"></i> Выход
    </a>
</div>
