<div class="text-center">
    <h1 class="display-1">404</h1>
    <h1><b>Ой!</b> Мы не смогли найти эту страницу</h1>
    <p>Кажется Вы ввели неверный запрос, либо страница, которую Вы запрашивали была удалена.</p>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Вернуться на главную страницу</a>
</div>
