@inherits LayoutComponentBase

<div class="row m-0">
    <NavLink class="btn btn-outline-success mb-1" href="edit" Match=NavLinkMatch.All
        ActiveClass="btn-success text-white">
        <span class="fa fa-edit" aria-hidden="true"></span> Редактирование данных
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="edit/vagueness" ActiveClass="btn-success text-white">
        <span class="fa fa-edit" aria-hidden="true"></span> Редактирование растекаемости
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="edit/visual" ActiveClass="btn-success text-white">
        <span class="fa fa-edit" aria-hidden="true"></span> Редактирование визуальных осмотров
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="edit/blockquality" ActiveClass="btn-success text-white">
        <span class="fa fa-edit" aria-hidden="true"></span> Редактирование качества блоков
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="edit/cement" ActiveClass="btn-success text-white">
        <span class="fa fa-edit" aria-hidden="true"></span> Редактирование цемента
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="edit/hammerbinder" ActiveClass="btn-success text-white">
        <span class="fa fa-edit" aria-hidden="true"></span> Редактирование молото-вяжущего
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="edit/mud" ActiveClass="btn-success text-white">
        <span class="fa fa-edit" aria-hidden="true"></span> Редактирование шлама
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="edit/type" ActiveClass="btn-success text-white">
        <span class="fa fa-edit" aria-hidden="true"></span> Редактирование видов исследований
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="edit/object" ActiveClass="btn-success text-white">
        <span class="fa fa-edit" aria-hidden="true"></span> Редактирование объектов исследований
    </NavLink>

</div>
