@inherits LayoutComponentBase

<footer class="border-top footer text-light bg-success">
    <div class="container-flyid">
        &copy; 2022 - kanadeiar <a class="text-light" target="_blank" href="https://github.com/kanadeiar/BlockLab">github</a>
    </div>
</footer>
