@inherits LayoutComponentBase

<div class="row m-0">
        <NavLink class="btn btn-outline-success mb-1" href="input" Match=NavLinkMatch.All
             ActiveClass="btn-success text-white">
        <span class="fa fa-plus" aria-hidden="true"></span> Исследования
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="input/vagueness"
             ActiveClass="btn-success text-white">
        <span class="fa fa-plus" aria-hidden="true"></span> Исследования растекаемости
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="input/visual"
             ActiveClass="btn-success text-white">
        <span class="fa fa-plus" aria-hidden="true"></span> Визуальный осмотр
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="input/blockquality"
             ActiveClass="btn-success text-white">
        <span class="fa fa-plus" aria-hidden="true"></span> Исследование качества блоков
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="input/cement"
             ActiveClass="btn-success text-white">
        <span class="fa fa-plus" aria-hidden="true"></span> Исследование цемента
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="input/hammerbinder"
             ActiveClass="btn-success text-white">
        <span class="fa fa-plus" aria-hidden="true"></span> Исследование молото-вяжущего
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="input/mud"
             ActiveClass="btn-success text-white">
        <span class="fa fa-plus" aria-hidden="true"></span> Исследование шлама
    </NavLink>

</div>
