@inherits LayoutComponentBase

<div class="row m-0">
    <NavLink class="btn btn-outline-success mb-1" href="online" Match="NavLinkMatch.All"
             ActiveClass="btn-success text-white">
        <span class="fa fa-home" aria-hidden="true"></span> Все
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="input"
             ActiveClass="btn-success text-white">
        <span class="fa fa-calculator" aria-hidden="true"></span> Первые результаты
    </NavLink>
    <NavLink class="btn btn-outline-success mb-1" href="input"
             ActiveClass="btn-success text-white">
        <span class="fa fa-calculator" aria-hidden="true"></span> Вторые результаты
    </NavLink>
</div>
