@inherits LayoutComponentBase

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <NavLink class="nav-link" href="online">
            Обзор
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="input">
            Ввод данных
        </NavLink>
    </li>
    <AuthorizeView Roles="admins">
        <Authorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="edit">
                    Редактирование данных
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>
</ul>
