<div class="my-2 py-2 border">
    <p class="p-2">Значение счетчика: @CurrectCount</p>
    <button class="btn btn-primary" @onclick="@( () => CurrectCount++ )">
        <i class="fa fa-plus"></i>
        Увеличить
    </button>
</div>

@code {
    public int CurrectCount { get; set; }
}
