.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

span {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 110%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    z-index: 1;
    font-size: 14px;
}

span::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    opacity: 0.9;
}

.tooltip-wrapper:hover span {
    visibility: visible;
}