@page "/online"

<PageTitle>Главная - Лаборатория</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mb-2">
            <nav class="flex-column">
                <_LeftSidebarPartial />
            </nav>
        </div>
        <div class="col-md-9 mb-2">
            <div class="border-1 bg-light shadow rounded-1 p-2">
                <h1 class="my-2 p-2"><span class="fa fa-home" aria-hidden="true"></span> Обзор результатов</h1>

                <p>Обзор лабораторных данных.</p>

            </div>
        </div>
    </div>
</div>

